.w-20 {
   width: 20%;

}

.w-30{
    width: 30%;
}

.logo-text{
    width: 100px;
}

.bi{
    margin-right: 10px;
}
.story{
    height: 70px;
    padding: 10px;
}
.dp{
    height:30px;
    
}
.post{
    width: 300px;
}
.icons{
    height: 20px;
}
.suggestions h6{
   font-size: 16px;
}

.suggestions .dp{
    margin-top: 0px !important;
}
.gradient-border{
     width: 45px;
     height: 45px;
     display: flex;
     align-items: center;
     justify-content: center;
     border-radius: 50%;
     background: Linear-gradient(45deg, #ff00ff,#ff6600, #ffcc00);
}
.story-dp{
    width: 40px;
}